---
import Credit from "../components/Credit.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <a href="/blog">back</a>
  <h1 class="post-title">{frontmatter.title}</h1>
  <div class="post-date text-bold">
    <div class="text-upcase">
      <p>
        {frontmatter.published}
        {frontmatter.modified ? ` (UPDATED ${frontmatter.modified})` : ""}
      </p>
    </div>
  </div>

  <div>
    {
      frontmatter.tags.map((tag) => (
        // <span class="tag"><a href={`/tags/${tag}`}>{tag}</a></span>
        <span class="tag">{tag}</span>
      ))
    }
  </div>
  <!-- INSERT CONTENT HERE -->
  <slot />
  <!-- INSERT CONTENT HERE -->
  <Credit />
</BaseLayout>
